{% extends 'userBase.html.twig' %}

{% block body %}
    <div class="container">
        <header class="">
            <div class="image avatar58">
                {% if user.image is null %}
                    <img src="{{ asset('images/no-image.jpg') }}" alt="Sin imagen." class="img-responsive img-circle" />
                {% else %}
                    <img src="{{ asset('uploads/profileImages/' ~ user.image ) }}" alt="Imagen de Perfil de {{ user.username }}" class="img-responsive img-circle" />
                {% endif %}
            </div>

            <h2>{{ user.username }}</h2>
            <small>Usuario desde: {{ user.signupdate | date('d-m-Y') }}</small>

            <hr/>
        </header>

        <div class="panel panel-info info">
            <div class="panel-heading">
                <b><span class="fa fa-edit"></span> Información Principal</b>
            </div>

            <div class="panel-body editProfile">

                {% if check == '1' %}
                    <div class="alert alert-danger mb10" role="alert">El nombre de usuario no puede estar vacío.</div>
                {% elseif check == '2' %}
                    <div class="alert alert-danger mb10" role="alert">La dirección de correo electrónico no puede estar vacía.</div>
                {% endif %}

                {{ form_start(form) }}
                <div class="col-md-12 privacy">
                    <div class="col-md-5 ">
                        <label>Privado</label>
                    </div>
                    <div class="col-md-2" >
                        {% if user.isPublic %}
                            <a href="{{ path('userChangePrivacy') }}"><span class="fa fa-2x fa-toggle-on"></span></a>
                        {% else %}
                            <a href="{{ path('userChangePrivacy') }}"><span class="fa fa-2x fa-toggle-off"></span></a>
                        {% endif %}
                    </div>
                    <div class="col-md-5 ">
                        <label>Público</label>
                    </div>

                </div>
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><span class="fa fa-2x fa-at"></span></span>
                    {{ form_widget(form.username) }}
                </div>

                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><span class="fa fa-2x fa-envelope-square"></span></span>
                    {{ form_widget(form.email) }}
                </div>

                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><span class="fa fa-2x fa-globe"></span></span>
                    {{ form_widget(form.country) }}
                </div>

                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><span class="fa fa-2x fa-location-arrow"></span></span>
                    {{ form_widget(form.location) }}
                </div>

                <div id="personalMessage" class="col-md-12 input-group">
                    {{ form_widget(form.personalMessage) }}
                    <span class="input-group-addon"><span class="numberCount">{{ lPM }}</span></span>
                </div>

                <div class="col-md-12 mt20">
                    {{ form_rest(form) }}
                </div>
                {{ form_end(form) }}
            </div>

        </div>

        <div class="panel panel-info info">
            <div class="panel-heading">
                <b><span class="fa fa-edit"></span> Cambiar Contraseña</b>
            </div>

            <div class="panel-body editProfile">
                {{ form_start(form2) }}
                    {% if form_errors(form2.password.first) %}
                        <div class="alert alert-danger mb10" role="alert">{{ form_errors(form2.password.first) }}</div>
                    {% elseif check == '3' %}
                        <div class="alert alert-success mb10" role="alert">La contraseña se ha cambiado correctamente.</div>
                    {% endif %}

                    <div class="col-md-12 input-group">
                        <span class="input-group-addon"><span class="fa fa-2x fa-lock"></span></span>
                        {{ form_widget(form2.password.first) }}
                    </div>

                    <div class="col-md-12 input-group">
                        <span class="input-group-addon"><span class="fa fa-2x fa-lock"></span></span>
                        {{ form_widget(form2.password.second) }}
                    </div>

                <div class="col-md-12 mt20">
                    {{ form_rest(form2) }}
                </div>
                {{ form_end(form2) }}
            </div>
        </div>

        <div class="panel panel-info info">
            <div class="panel-heading">
                <b><span class="fa fa-edit"></span> Imagen de Perfil</b>
            </div>

            <div class="panel-body imageProfile">
                <div class="col-md-12">
                    <h1>Sube tu Propia Imagen: </h1>

                    <div class="col-md-12">
                        {{ form_start(img)}}

                        {% if check == '5' %}
                            <div class="alert alert-danger mb10" role="alert">Error: La imagen debe tener formato .jpg, .jpeg o .png</div>
                        {% elseif check == '6' %}
                            <div class="alert alert-danger mb10" role="alert">Error: La imagen no puede superar 1MB de tamaño.</div>
                        {% endif %}

                        <div class="col-md-12 col-xs-12 mr-30 mt20">
                            {{ form_widget(img.image) }}
                        </div>

                        <div class="col-md-12">
                            {{ form_widget(img.Enviar) }}
                        </div>
                        {{ form_end(img) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}