{% extends 'userBase.html.twig' %}

{% block body %}
    <div class="container">
        <header class="">
            <div class="image avatar58">
                {% if user.image is null %}
                    <img src="{{ asset('images/no-image.jpg') }}" alt="Sin imagen." class="img-responsive img-circle" />
                {% else %}
                    <img src="{{ user.image }}" alt="Imagen de Perfil de {{ user.username }}" class="img-responsive img-circle" />
                {% endif %}
            </div>

            <h2>{{ user.username }}</h2>
            <small>Usuario desde {{ user.signupdate | date('d-m-Y') }}</small>

            <hr/>
        </header>

        <div class="panel panel-info info">
            <div class="panel-heading">
                <b><span class="fa fa-address-card-o"></span> Información sobre tu perfil</b>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-4 text-center fa-border bg-info">
                        <b><span class="fa fa-user-circle"></span> Nombre de Usuario:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        <label>{{ user.username }}</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4 text-center fa-border bg-info">
                        <b><span class="fa fa-envelope-o"></span> Correo Electrónico:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        <label>{{ user.email }}</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4 text-center fa-border bg-info">
                        <b><span class="fa fa-globe"></span> País:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        <label>{{ user.country }}</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4 text-center fa-border bg-info">
                        <b><span class="fa fa-location-arrow"></span> Localización:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        {% if user.location %}
                            <label>{{ user.location }}</label>
                        {% else %}
                            <label>No has escrito ninguna localización.</label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4 text-center fa-border bg-info">
                        <b><span class="fa fa-comment-o"></span> Mensaje Personal:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        {% if user.personalMessage %}
                            <label>{{ user.personalMessage }}</label>
                        {% else %}
                            <label>No tienes ningún mensaje personal.</label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4 text-center fa-border bg-info">
                        <b><span class="fa fa-user-plus"></span> Referido:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        {% if user.referred %}
                            <label>{{ user.referred }}</label>
                        {% else %}
                            <label>No has sido referido por ningún usuario.</label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4 text-center fa-border bg-info">
                        <b><span class="fa fa-shield"></span> Privacidad de Perfil:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        {% if user.isPublic %}
                            <label>Perfil Público</label>
                        {% else %}
                            <label>Perfil Privado</label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12 mt20">
                    <a href="{{ path('editProfile') }}" class="btn btn-info btn-lg">Editar Perfil</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}