{% extends 'userBase.html.twig' %}

{% block body %}
    <div class="container">
        <header class="">
            <div class="image avatar58">
                {% if user.image is null %}
                    <img src="{{ asset('images/no-image.jpg') }}" alt="Sin imagen." class="img-responsive img-circle" />
                {% else %}
                    <img src="{{ asset('uploads/profileImages/' ~ user.image) }}" alt="Imagen de Perfil de {{ user.username }}" class="img-responsive img-circle" />
                {% endif %}
            </div>

            <h2>{{ user.username }}</h2>
            <small>Usuario desde: {{ user.signupdate | date('d-m-Y') }}</small>

            <hr/>
        </header>

        <div class="card info">
            <div class="card-header bg-dark">
                <b class="cWhite"><span class="fa fa-address-card-o"></span> Información sobre tu perfil</b>
            </div>

            <div class="card-body ">
                <div class="col-md-12 dflexblock">

                    <div class="{% if user.isPublic %}col-md-6{% else %}col-md-4{% endif %}">
                        <a href="{{ path('followers') }}" title="Usuarios que te siguen.">Seguidores: {{ followers | length }}</a>
                    </div>

                    <div class="{% if user.isPublic %}col-md-6{% else %}col-md-4{% endif %}">
                        <a href="{{ path('following') }}" title="Usuarios a los que sigues.">Siguiendo: {{ following | length }}</a>
                    </div>

                    {% if user.isPublic == false %}
                        <div class="col-md-4">
                            <a href="{{ path('pending') }}" title="Solicitudes Pendientes.">Pendientes: {{ pending | length }}</a>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-10 m-auto">
                    <hr/>
                </div>

                <div class="col-md-12 dflexblock">
                    <div class="col-md-4 text-left fa-border bg-gray">
                        <b><span class="fa fa-user-circle"></span> Nombre de Usuario:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        <label>{{ user.username }}</label>
                    </div>
                </div>

                <div class="col-md-12 dflexblock">
                    <div class="col-md-4 text-left fa-border bg-gray">
                        <b><span class="fa fa-envelope-o"></span> Correo Electrónico:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        <label>{{ user.email }}</label>
                    </div>
                </div>

                <div class="col-md-12 dflexblock">
                    <div class="col-md-4 text-left fa-border bg-gray">
                        <b><span class="fa fa-globe"></span> País:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        <label>{{ user.country }}</label>
                    </div>
                </div>

                <div class="col-md-12 dflexblock">
                    <div class="col-md-4 text-left fa-border bg-gray">
                        <b><span class="fa fa-location-arrow"></span> Localización:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        {% if user.location %}
                            <label>{{ user.location }}</label>
                        {% else %}
                            <label>No has escrito ninguna localización.</label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12 dflexblock">
                    <div class="col-md-4 text-left fa-border bg-gray">
                        <b><span class="fa fa-comment-o"></span> Mensaje Personal:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        {% if user.personalMessage %}
                            <label>{{ user.personalMessage }}</label>
                        {% else %}
                            <label>No tienes ningún mensaje personal.</label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12 dflexblock">
                    <div class="col-md-4 text-left fa-border bg-gray">
                        <b><span class="fa fa-user-plus"></span> Referido:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        {% if user.referred %}
                            <label>
                                <a href="{{ path('viewUserProfile', {'id': user.referred.id }) }}" title="Perfil de {{ user.referred.username }}">
                                    {{ user.referred.username }}
                                </a>
                            </label>
                        {% else %}
                            <label>No has sido referido por ningún usuario.</label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12 dflexblock">
                    <div class="col-md-4 text-left fa-border bg-gray">
                        <b><span class="fa fa-shield"></span> Privacidad de Perfil:</b>
                    </div>
                    <div class="col-md-8 text-left fa-border">
                        {% if user.isPublic %}
                            <label>Perfil Público</label>
                        {% else %}
                            <label>Perfil Privado</label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12 mt20">
                    <a href="{{ path('editProfile') }}" class="btn btn-secondary btn-lg">Editar Perfil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}