<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>{% block title %}tecleaME{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main_anon.css') }}" />
        <noscript><link rel="stylesheet" href="{{ asset('assets/css/noscript.css') }}" /></noscript>
    </head>
    <body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <span class="icon fa-users"></span>
            </div>
            <div class="content">
                <div class="inner">
                    <h1>tecleaME</h1>
                    <p><!--[-->La nueva red social basada en Microblogging.<!--]--><br />
                        <!--[-->¡<a href="#login">Entra</a> o <a href="#signup">crea una nueva cuenta</a> y comienza a comunicarte con tus amigos!<!--]--></p>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="#login">Conéctate</a></li>
                    <li><a href="#signup">Regístrate</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <!--<li><a href="#elements">Elements</a></li>-->
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">

            <!-- Log In -->
            <article id="login" class="text-center">
                <h2 class="major center">Iniciar Sesión</h2>
                <p>Usa tus datos de usuario para iniciar sesión.</p>

                {% if option == 2 %}
                    <div class="alert alert-success" role="alert">Se ha enviado una nueva contraseña a su correo electrónico.</div>
                {% endif %}

                {% if error %}
                    {% if error.messageKey == "Invalid credentials." %}
                        <div class="alert alert-danger" role="alert">Nombre de Usuario o Contraseña Incorrectos.</div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">{{ error.messageKey }}</div>
                    {% endif %}
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <input type="text" id="username" name="_username" placeholder="Nombre de Usuario: " class="form-control" />
                    <input type="password" id="password" name="_password" placeholder="Contraseña: " class="form-control" />

                    <button type="submit" class="btn btn-lg mt5">Iniciar Sesión</button>
                </form>

                <a href="#forgottedPassword">¿Has olvidado tu contraseña?</a>
            </article>

            <!-- Sign Up -->
            <article id="signup" class="text-center">
                <h2 class="major center">Nuevo Usuario</h2>
                <p>Rellena el siguiente formulario para crear una cuenta de usuario.</p>

                {{ form_start(form) }}
                    {% if form_errors(form.username) or form_errors(form.email) or form_errors(form.password.first) %}
                        <div class="alert alert-danger text-left">
                            Se han encontrado los siguientes errores:
                            {{ form_errors(form.username) }}
                            {{ form_errors(form.password.first) }}
                            {{ form_errors(form.email) }}
                        </div>
                    {% endif %}

                    {{ form_widget(form.username) }}
                    {{ form_widget(form.password.first) }}
                    {{ form_widget(form.password.second) }}
                    {{ form_widget(form.email) }}
                    {{ form_widget(form.country) }}
                    {{ form_widget(form.referred) }}
                    {{ form_widget(form.Enviar)}}
                {{ form_end(form) }}
            </article>

            <!-- FAQ -->
            <article id="faq" class="text-center">
                <h2 class="major center">Preguntas Frecuentes</h2>
                <p>En desarrollo...</p>
            </article>

            <!-- Contact -->
            <article id="contact" class="text-center">
                <h2 class="major center">Contacto</h2>
                <p>¿Tienes algún problema? Háznoslo saber.</p>
                <form method="post" action="#">
                    <div class="field half first">
                        <label for="name">Nombre: </label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Correo Electrónico: </label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Mensaje: </label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Enviar Mensaje" class="special" /></li>
                        <li><input type="reset" value="Reiniciar" /></li>
                    </ul>
                </form>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                </ul>
            </article>

            <!-- Forgotted Password -->
            <article id="forgottedPassword" class="text-center">
                <h2 class="major center">¿Has olvidado tu contraseña?</h2>

                {% if sendMail == 1 %}
                    <div class="alert alert-success" role="alert">Correo de recuperación enviado. Comprueba tu bandeja de entrada.</div>
                {% elseif sendMail == 2 %}
                    <div class="alert alert-danger" role="alert">No se encuentra esta dirección de correo en nuestra base de datos.</div>
                {% elseif option == 1 %}
                    <div class="alert alert-danger" role="alert">El código de recuperación no es válido o ha caducado.</div>
                {% endif %}

                <p>Introduce tu dirección de correo: </p>

                {{ form_start(formForgottedPassword) }}
                    {{ form_widget(formForgottedPassword.email) }}
                    <input type="hidden" value="{{ form_errors(formForgottedPassword.email) }}">
                    {{ form_widget(formForgottedPassword.Enviar) }}
                {{ form_end(formForgottedPassword) }}
            </article>

            <!-- Password Changed -->
            <article id="loginPasswordChanged" class="text-center">
                <h2 class="major center">Contraseña Cambiada</h2>

                <p>Enhorabuena, se ha cambiado correctamente tu contraseña. En breve recibirás en tu dirección de correo
                    electrónico una nueva contraseña. Ahora puedes <a href="{{ path('login') }}">iniciar sesión</a>.
                </p>
            </article>

            <!-- Invalid Code -->
            <article id="invalidCode" class="text-center">
                <h2 class="major center">ERROR</h2>

                <p>Se ha producido un error. El código de recuperación utilizado no es válido o no corresponde con la
                    dirección de correo electrónico utilizada.</p>
                <p>Si lo desea, puede volver a solicitar otro código <a href="./#forgottedPassword">pulsando aquí</a>.</p>
            </article>

        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="col-md-12 mt-3">
                <a href="https://www.p-dev.es" target="_blank"><img src="{{ asset('images/p-dev-logo.png') }}" title="p-Dev Network" class="w-20" /></a>
            </div>

            <div class="col-md-12">
                <p class="copyright">&copy; 2017 <a href="https://www.teclea.me">tecleaME</a>. Desarrollado por: <a href="https://www.pedrojanula.xyz">Pedro José Anula</a>.</p>
            </div>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/skel.min.js') }}"></script>
    <script src="{{ asset('assets/js/util.js') }}"></script>
    <script src="{{ asset('assets/js/main_anon.js') }}"></script>

    </body>
</html>
