<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>{% block title %}tecleaME{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/sweetalert.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    </head>

    <body>

    <!-- Header -->
    <div id="header">
        <div class="top">

            <!-- Logo -->
            <div id="logo" class="text-center">
                <span class="image avatar85">
                    {% if user.image is null %}
                        <img src="{{ asset('images/no-image.jpg') }}" alt="Sin imagen." class="img-circle" />
                    {% else %}
                        <img src="{{ asset('uploads/profileImages/' ~ user.image) }}" alt="Imagen de Perfil de {{ user.username }}" class="img-circle" />
                    {% endif %}
                </span>
                <h1 id="title">{{ user.username }}</h1>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="{{ path('index') }}" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Inicio</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="skel-layers-ignoreHref"><span class="icon fa-id-card">Perfil</span></a>
                        <ul>
                            <li><a href="{{ path('viewProfile') }}"><span class="icon fa-user-circle">Ver perfil</span></a></li>
                            <li><a href="{{ path('editProfile') }}"><span class="icon fa-pencil">Editar Perfil</span></a></li>
                            <li><a href="#"><span class="icon fa-envelope">Privados</span></a></li>
                            <li><a href="{{ path('logout') }}"><span class="icon fa-sign-out">Cerrar Sesión</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-bell">Notificaciones</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-users">Comunidades</span></a>
                        <ul>
                            <li><a href="{{ path('generalCommunity') }}"><span class="icon fa-bullseye">General</span></a></li>
                            <li><a href="#"><span class="icon fa-list">Listado</span></a></li>
                            <li><a href="{{ path('newCommunity') }}"><span class="icon fa-plus">Crear Nueva</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-question-circle">Ayuda</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="bottom">

            <ul class="icons">
                <li><a href="{{ path('logout') }}" class="icon fa-sign-out"><span class="label">Cerrar Sesión</span></a></li>
            </ul>

        </div>

    </div>

    <!-- Main -->
    <div id="main">
        <section class="">
            {% block body %}{% endblock %}
        </section>
    </div>

    <!-- Footer -->
    <div id="footer">

        <!-- Copyright -->
        <ul class="copyright">
            <li>&copy; 2017 <a href="{{ path('index') }}">tecleaME</a>.</li><li>Desarrollado por: <a href="https://www.pedrojanula.xyz">Pedro José Anula</a></li>
        </ul>

    </div>

    <!-- Scripts -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrollzer.min.js') }}"></script>
    <script src="{{ asset('assets/js/skel.min.js') }}"></script>
    <script src="{{ asset('assets/js/util.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/sweetalert.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('assets/js/main.js') }}"></script>

    </body>
</html>