<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>
            {% if user.notification | length > 0%}
                ({{ user.notification | length }})
            {% endif %}
            {% block title %}{% endblock %} | tecleaME
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/sweetalert.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

        <meta name="description" content="Simple, segura y robusta red social basada en Microblogging. Crea tu comunidad, únete a distintas comunidades y comunícate con los distintos usuarios." />
        <meta name="keywords" content="TecleaME, Red Social, p-Dev, Microblogging, pedrojanula, Comunidad" />
        <meta name="author" content="Pedro José Anula">
        <meta name="revisit-after" content="7 days">

    </head>

    <body>

    <!-- Header -->
    <div id="header">
        <div class="top">

            <!-- Logo -->
            <div id="logo" class="text-center">
                <span class="image avatar85">
                    <a href="{{ path('viewProfile') }}">
                        {% if user.image is null %}
                            <img src="{{ asset('images/no-image.jpg') }}" alt="Sin imagen." class="img-circle" />
                        {% else %}
                            <img src="{{ asset('uploads/profileImages/' ~ user.image) }}" alt="Imagen de Perfil de {{ user.username }}" class="img-circle" />
                        {% endif %}
                    </a>
                </span>
                <h1 id="title">{{ user.username }}</h1>
                <p>{{ user.visits }} {% if user.visits == 1 %}visita{% else %}visitas{% endif %} al perfil</p>
            </div>

            <!-- Nav -->
            {% set pm = 0 %}
            {% set report = 0 %}
            {% set invitation = 0 %}

            {% for n in user.notification %}
                {% if n.type == 'PM' %}
                    {% set pm = pm + 1 %}
                {% elseif n.type == 'com_invitation' %}
                    {% set invitation = invitation + 1 %}
                {% elseif n.type == 'report' %}
                    {% set report = report + 1 %}
                {% endif %}
            {% endfor %}

            <nav id="nav">
                <ul>
                    <li><a href="{{ path('index') }}" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Inicio</span></a></li>
                    <li class="dropdown">

                        <a href="#" class="skel-layers-ignoreHref"><span class="icon fa-id-card {% if pm > 0 or report > 0 %}cGold{% endif %}">Perfil {% if pm > 0 or report > 0 %}({{ pm + report }}){% endif %}</span></a>
                        <ul>
                            <li><a href="{{ path('viewProfile') }}"><span class="icon fa-user-circle">Ver perfil</span></a></li>
                            <li><a href="{{ path('inbox') }}"><span class="icon fa-envelope {% if pm > 0 %}cGold{% endif %}">Privados {% if pm > 0 %}({{ pm }}){% endif %}</span></a></li>
                            <li><a href="{{ path('reportList') }}"><span class="icon fa-warning {% if report > 0 %}cGold{% endif %}">Reportes {% if report > 0 %}({{ report }}){% endif %}</span></a></li>
                            <li><a href="{{ path('logout') }}"><span class="icon fa-sign-out">Cerrar Sesión</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('notifications') }}" id="about-link" class="skel-layers-ignoreHref">
                            <span class="icon fa-bell {% if user.notification | length > 0 %}cGold{% endif %}">Avisos
                                <small>(
                                    {{ user.notification | length }}
                                    )</small>
                            </span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-users {% if invitation > 0 %}cGold{% endif %}">Comunidades {% if invitation > 0 %}( {{ invitation }} ){% endif %}</span></a>
                        <ul>
                            <li><a href="{{ path('generalCommunity') }}"><span class="icon fa-bullseye">General</span></a></li>
                            <li><a href="{{ path('communityList') }}"><span class="icon fa-list">Comunidades</span></a></li>
                            <li><a href="{{ path('invitationsCommunity') }}"><span class="icon fa-id-card-o {% if invitation > 0 %}cGold{% endif %}">Invitaciones {% if invitation > 0 %}({{ invitation }}){% endif %}</span></a></li>
                            <li><a href="{{ path('newCommunity') }}"><span class="icon fa-plus">Crear Nueva</span></a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('help') }}" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-question-circle">Ayuda</span></a></li>
                </ul>
            </nav>
        </div>

        <div class="bottom">

            <ul class="icons">
                <li><a href="{{ path('logout') }}" class="icon fa-sign-out fa-2x"><span class="label">Cerrar Sesión</span></a></li>
            </ul>

        </div>

    </div>

    <!-- Main -->
    <div id="main">
        <section class="">
            {% block body %}{% endblock %}
        </section>
    </div>

    <!-- Footer -->
    <div id="footer">
        <div class="col-md-6 m-auto">
            <div class="col-md-12">
                <b>Una aplicación de: </b>
            </div>
            <div class="col-md-12">
                <a href="https://www.p-dev.es" target="_blank"><img class="w-20" src="{{ asset('images/p-dev-logo.png') }}" title="p-Dev Network" /></a>
            </div>
        </div>

        <!-- Copyright -->
        <ul class="copyright">
            <li>&copy; 2017 <a href="{{ path('index') }}">tecleaME</a>.</li><li>Desarrollado por: <a href="https://www.pedrojanula.xyz">Pedro José Anula</a></li>
        </ul>

    </div>

    <!-- Scripts -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrollzer.min.js') }}"></script>
    <script src="{{ asset('assets/js/skel.min.js') }}"></script>
    <script src="{{ asset('assets/js/util.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/sweetalert.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('assets/js/main.js') }}"></script>

    </body>
</html>