{% extends 'userBase.html.twig' %}

{% block title %}Página de Ayuda{% endblock %}

{% block body %}
    <div class="container">
        <span class="fa fa-info-circle fa-2x"></span>
        <h2>Ayuda</h2>
        <h1>Aquí encontrarás información, preguntas frecuentes y muchos datos más acerca de TecleaME. Si tienes cualquier duda, no dudes en ponerte en contacto con nosotros.</h1>

        <div class="col-md-6 m-auto">
            <hr/>
        </div>

        {% if error == 1 %}
            <div class="col-md-10 m-auto">
                <div class="alert alert-success" role="alert"><span class="fa fa-check"></span> Mensaje Enviado. En breve nos pondremos en contacto contigo.</div>
            </div>
        {% endif %}

        <div id="help-tabs">
            <div class="card">
                <div class="card-header bg-dark">
                    <div class="col-md-12">
                        <ul id="tabs" class="nav nav-tabs cWhite" role="tablist">
                            <li role="presentation">
                                <a class="btn btn-default text-center cWhite activeTab tab" href="#faq"><span class="fa fa-question-circle"></span> FAQ</a>
                            </li>
                            <li role="presentation">
                                <a class="btn btn-default text-center cWhite tab" href="#general-info"><span class="fa fa-info-circle"></span> Información General</a>
                            </li>
                            <li role="presentation">
                                <a class="btn btn-default text-center cWhite tab" href="#rules"><span class="fa fa-list-ol"></span> Normas</a>
                            </li>
                            <li role="presentation">
                                <a class="btn btn-default text-center cWhite tab" href="#contact"><span class="fa fa-envelope"></span> Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body text-left">
                    <div id="faq">
                        <div class="card">
                            <div class="card-header bg-gray text-center">
                                <h1><span class="fa fa-question-circle"></span> Preguntas Frecuentes</h1>
                            </div>

                            <div class="card-body">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">¿Qué es TecleaME?</h4>
                                    </div>
                                    <div class="col-md-12 small">
                                        <span>TecleaME es una red social, de código libre y gratuito, basada en microblogging.</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">¿Es gratuito?</h4>
                                    </div>
                                    <div class="col-md-12 small">
                                        <span>TecleaME es totalmente gratuito. Puedes crear una cuenta de manera totalmente gratuita y nunca se te pedirá que pagues para acceder.</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">Si es gratuito, ¿cómo se financia?</h4>
                                    </div>
                                    <div class="col-md-12 small">
                                        <span>En un principio, los recursos para el mantenimiento de TecleaME no son muy exigentes, por lo tanto se hace cargo de nuestro propio bolsillo, aunque en un futuro se incorporará algo de publicidad para financiarnos, sin afectar a la economía de nuestros usuarios.</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">¿Qué hay de mi privacidad?</h4>
                                    </div>
                                    <div class="col-md-12 small">
                                        <span>En TecleaME nos tomamos muy en serio la seguridad y privacidad del usuario. Jamás venderemos tus datos y, tu contraseña estará desde primera hora encriptada para asegurar la seguridad de tu identidad.</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">¿Hay alguna aplicación para Android e iOS?</h4>
                                    </div>
                                    <div class="col-md-12 small">
                                        <span>No, pero no te preocupes, ya que desde cualquier smartphone y usando tu navegador por defecto, podrás usar TecleaME muy cómodamente, debido al diseño responsive, muy amigable con 'las pantallas pequeñas'.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="general-info">
                        <div class="card">
                            <div class="card-header bg-gray text-center">
                                <h1><span class="fa fa-info-circle"></span> Información General</h1>
                            </div>

                            <div class="card-body">
                                <div class="col-md-12">
                                    <p class="font-sm text-center">TecleaME es algo más que muchas líneas de código. Es el resultado de mucho aprendizaje y mucha pasión. Día a día se continuará manteniendo y mejorando, porque aún queda mucho camino por recorrer.</p>

                                    <div class="card">
                                        <div class="card-header text-center bg-gray">
                                            <h1><span class="fa fa-building"></span> p-Dev</h1>
                                        </div>

                                        <div class="card-body">
                                            <div class="col-md-12 text-center">
                                                <div class="image avatar58">
                                                    <a href="https://www.p-dev.es" target="_blank"><img class="text-center" src="{{ asset('images/p-dev-logo.png') }}" title="Logo de p-Dev Network"/></a>
                                                </div>
                                            </div>
                                            <p class="font-sm">TecleaME es propiedad de <a href="https://www.p-dev.es" target="_blank">p-Dev Network</a>, una red de aplicaciones y sitios web que permiten a distintos grupos de usuarios experimentar con la tecnología.</p>
                                            <p class="font-sm"><b class="font-weight-800">Sitio Web: </b><a href="https://www.p-dev.es" target="_blank">https://www.p-dev.es</a></p>
                                        </div>
                                    </div>

                                    <div class="card mt-3">
                                        <div class="card-header text-center bg-gray">
                                            <h1><span class="fa fa-code"></span> Desarrollo</h1>
                                        </div>

                                        <div class="card-body">
                                            <p class="font-sm">TecleaME comenzó a desarrollarse el día el 14 de Marzo de 2017.</p>

                                            <p class="font-sm">Basado en el Framework de PHP: Symfony3, con tecnologías tanto Front-End, Back-End y Gestión de Bases de Datos (Twig, HTML, CSS, Javascript, PHP, Doctrine...) y con conocimientos teóricos y prácticos en Seguridad Informática, se ha creado TecleaME. Una red social segura, eficiente y robusta basada en el microblogging.</p>

                                            <p class="font-sm"><span class="font-weight-800">Código Libre: </span>El código de TecleaME es totalmente libre y compartido en un <a href="https://github.com/p-Dev-Network/teclea.me" target="_blank">repositorio de GitHub</a> por lo cual, cualquier usuario podrá ver y analizar el código para comprobar por sí mismo que no tenemos nada que ocultar. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="rules">
                        <div class="card">
                            <div class="card-header bg-gray text-center">
                                <h1><span class="fa fa-list-ol"></span> Normas</h1>
                            </div>

                            <div class="card-body">
                                <div class="col-md-12 small">
                                    <p>Como en todos los sitios en internet, es necesario cumplir ciertas normas, ya sea para evitar problemas legales o simplemente, para que la estancia de los usuarios sea agradable.</p>
                                    <p>Por esta razón, se listarán las normas que todo usuario debe cumplir. El incumplimiento de estas normas podría llegar a la suspensión del usuario o incluso a la denuncia a las autoridades correspondientes, dependiendo del tipo de infracción.</p>

                                    <div class="card mt-3">
                                        <div class="card-header bg-gray text-center">
                                            <h3 class="font-weight-800">Prohibiciones en Mensajes</h3>
                                            <span>En general, hay libertad de expresión en TecleaME, pero habrá contenidos que, con tal de cumplir la ley, estarán totalmente prohibidos:</span>

                                        </div>

                                        <div class="card-body">
                                            <ul>
                                                <li class="style-inside">Distribución, intercambio o difusión de contenido para adultos. Por ahora, al no haber restricción de edad, no se permite ningún tipo de contenido para adultos (pornografía, sexo, contactos...).</li>
                                                <li class="style-inside">Distribución, intercambio o difusión de cualquier tipo de contenido ilegal (enlaces a contenidos externos, enlaces a contenido con derechos de autor, perfiles, fotos, vídeos, etc). Recuerda que no respetar los derechos de autor, es un delito grave.</li>
                                                <li class="style-inside">Cualquier tipo de estafa, que pueda afectar a nuestro sistema o a cualquier usuario.</li>
                                                <li class="style-inside">Daños a terceros u empresas. Por consiguiente, no se podrá publicar información privada de ningún tipo de persona u empresa sin su consentimiento.</li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card mt-3">
                                        <div class="card-header bg-gray text-center">
                                            <h3 class="font-weight-800">Prohibiciones en Comunidades</h3>
                                            <span>Al igual que el punto anterior, a la hora de crear y administrar tu propia comunidad, es necesario respetar los siguientes contenidos prohibidos:</span>
                                        </div>

                                        <div class="card-body">
                                            <ul>
                                                <li class="style-inside">Comunidades con contenido adulto</li>
                                                <li class="style-inside">Comunidades con contenido ilegal</li>
                                                <li class="style-inside">Comunidades orientada a la organización criminal.</li>
                                                <li class="style-inside">Comunidades con contenido Protegido con derechos de autor.</li>
                                                <li class="style-inside">Comunidades cuyo objetivo sea el de estafar o dañar la imagen de una o más terceras personas u empresas.</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card mt-3">
                                        <div class="card-header bg-gray text-center">
                                            <h3 class="font-weight-800">Conducta General</h3>
                                            <span>Para poder llevar una convivencia agradable por parte de todos los usuarios, será conveniente respetar algunas normas de conducta: </span>
                                        </div>

                                        <div class="card-body">
                                            <ul>
                                                <li class="style-inside"><span class="font-weight-800">Respeto: </span>Algo fundamental en TecleaME, es mantener un ambiente agradable donde no se falte el respeto a ningún usuario. Sí es cierto que hay libertad de expresión y que cualquier usuario podrá discutir con cualquier otro sin mayores problemas, pero nunca faltando el respecto (insultos, difamaciones...).</li>
                                                <li class="style-inside"><span class="font-weight-800">Flood: </span>A día de hoy, no existe ninguna limitación a la hora de enviar mensajes o crear comunidades, pero esto no significa que se deba llevar al extremo. Si se detecta un uso inadecuado por parte de cualquier usuario que, por ejemplo, se dedique a enviar mensajes sin sentido o repetitivos con el único objetivo de molestar, será sancionado.</li>
                                                <li class="style-inside"><span class="font-weight-800">Multicuenta: </span>En TecleaME, permitimos a un usuario tener varias cuentas. No tenemos ningún problema al respecto. Lo único importante que hay que respetar, es que un usuario no podrá tener varias cuentas con el objetivo de dañar a otros usuarios (por ejemplo, enviando reportes desde distintas cuentas para bloquear su cuenta o mensajes). Esto será motivo de expulsión directa de todas las cuentas asociadas.</li>
                                                <li class="style-inside"><span class="font-weight-800">Mensajes Privados: </span>A la hora de enviar algún mensaje privado a algún usuario, se deberán respetar las siguientes normas. Que el mensaje sea privado, no quiere decir que no deba cumplir las normas.</li>
                                                <li class="style-inside"><span class="font-weight-800">Responsabilidad: </span>Tú, como usuario, eres el único responsable del contenido que publicas. Si quebrantas las normas, podrás ser expulsado. Si quebrantas la ley, serás denunciado a las autoridades.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="contact">
                        <div class="card">
                            <div class="card-header bg-gray text-center">
                                <h1><span class="fa fa-envelope"></span> Contacto</h1>
                            </div>

                            <div class="card-body">
                                <div class="col-md-10 m-auto text-center">
                                    <p class="font-sm">¿Tienes cualquier problema o duda? No dudes en ponerte en contacto con nosotros.
                                    <br/>Te responderemos automáticamente al correo electrónico asociado a tu cuenta.
                                    </p>

                                    <hr/>

                                    {{ form_start(form) }}
                                        {{ form_widget(form.message) }}
                                        {{ form_widget(form.Enviar) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}