{% extends app.user ? 'userBase.html.twig' : 'anonIndex.twig' %}

{% if app.user %}
    {% block title %}Feed{% endblock %}
{% endif %}

{% block body %}
    {% if app.user %}

        <div id="feed" class="container">
            {% if messages|length == 0 and replies|length == 0 %}
                <div class="alert alert-warning" role="alert">Tú Feed está vacío. <a href="{{ path('communityList') }}">¿Por qué no exploras las distintas comunidades?</a></div>
            {% else %}
                <div class="card">
                    <div class="card-header bg-dark cWhite">
                        Últimos Mensajes
                    </div>
                    <div class="card-body">
                        {% for message in messages %}
                            <div class="card mb-5">
                                <div class="card-header bg-gray p-0">
                                    <div class="col-md-12 dflexblock">
                                        <div class="col-md-4 dflexblock">
                                            <a class="m-auto" href="{{ path('viewUserProfile', {'id': message.user.id }) }}">{{ message.user.username }}</a>
                                        </div>
                                        <div class="col-md-4 dflexblock">
                                            <b class="m-auto">[<a href="{{ path('viewCommunity', {'id': message.community.id }) }}">{{ message.community.name }}</a>]</b>
                                        </div>
                                        <div class="col-md-4 dflexblock">
                                            <b class="m-auto">{{ message.date | date('d-m-Y H:i') }}</b>
                                        </div>
                                    </div>
                                </div>

                                <div class="messageInfo">
                                    <div class="card-body text-left dflexblock">
                                        <div class="col-md-2 messageImage dflexblock">
                                            <div class="image avatar95">
                                                <a href="{{ path('viewUserProfile', {'id': message.user.id }) }}" title="Perfil de {{ message.user.username }}">
                                                    {% if message.user.image %}
                                                        <img src="{{ asset('uploads/profileImages/' ~ message.user.image) }}" alt="Imagen de {{ message.user.username }}"/>
                                                    {% else %}
                                                        <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ message.user.username }}"/>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-10 message text-left p-0 dflexblock">
                                            <p>{{ message.message | striptags('<b>') | raw }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer p-0">
                                    <div class="msgButtons text-right fwa">
                                        <a href="{{ path('messageDetails', {'id': message.id } ) }}" class="btn btn-sm btn-default"><span class="fa fa-eye"></span> Detalles</a>
                                        {% if message.user.id == user.id %}
                                            <a class="btn btn-sm btn-default btn-delete" name="{{ message.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                        {% endif %}
                                        <a class="btn btn-sm btn-default btn-report" href="{{ path('newMessageReport', {'id': message.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                        <a class="btn btn-sm btn-default btn-options">Opciones <span class="caret"></span></a>
                                        <div class="btn-options-sm col-md-10">
                                            {% if message.user.id == user.id %}
                                                <a class="btn btn-sm btn-default btn-delete-feed-sm " name="{{ message.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                            {% endif %}
                                            <a class="btn btn-sm btn-default" href="{{ path('newMessageReport', {'id': message.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="card mt-lg-5">
                    <div class="card-header bg-dark cWhite">
                        Últimas Respuestas
                    </div>
                    <div class="card-body">
                        {% for reply in replies %}
                            <div class="card mb-5">
                                <div class="card-header bg-gray p-0">
                                    <div class="col-md-12 dflexblock">
                                        <div class="col-md-2 dflexblock">
                                            <a href="{{ path('messageDetails', {'id': reply.reply.id }) }}"><span class="fa fa-reply"></span> #{{ reply.reply.id }}</a>
                                        </div>
                                        <div class="col-md-4 dflexblock">
                                            <a href="{{ path('viewUserProfile', {'id': reply.user.id }) }}"> {{ reply.user.username }}</a>
                                        </div>
                                        <div class="col-md-3 dflexblock">
                                            [<a href="{{ path('viewCommunity', {'id': reply.community.id }) }}">
                                                {% if reply.community.name | length > 10 %}
                                                    {{ reply.community.name | slice(0, 10) }}...
                                                {% else %}
                                                    {{ reply.community.name }}
                                                {% endif %}

                                            </a>]
                                        </div>
                                        <div class="col-md-3 dflexblock">
                                            {{ reply.date | date('d-m-Y H:i') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="messageInfo">
                                    <div class="card-body text-left dflexblock">
                                        <div class="col-md-2 messageImage dflexblock">
                                            <div class="image avatar95">
                                                <a href="{{ path('viewUserProfile', {'id': reply.user.id }) }}" title="Perfil de {{ reply.user.username }}">
                                                    {% if reply.user.image %}
                                                        <img src="{{ asset('uploads/profileImages/' ~ reply.user.image) }}" alt="Imagen de {{ reply.user.username }}"/>
                                                    {% else %}
                                                        <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ reply.user.username }}"/>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-10 message dflexblock">
                                            <p>{{ reply.message | striptags('<b>') | raw }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer p-0">
                                    <div class="msgButtons text-right fwa">
                                        <a href="{{ path('messageDetails', {'id': reply.reply.id } ) }}" class="btn btn-sm btn-default"><span class="fa fa-eye"></span> Conversación</a>
                                        {% if reply.user.id == user.id %}
                                            <a class="btn btn-sm btn-default btn-delete btn-delete-feed" name="{{ reply.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                        {% endif %}
                                        <a class="btn btn-sm btn-default btn-report" href="{{ path('newMessageReport', {'id': reply.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                        <a class="btn btn-sm btn-default btn-options">Opciones <span class="caret"></span></a>
                                        <div class="btn-options-sm col-md-10">
                                            {% if reply.user.id == user.id %}
                                                <a class="btn btn-sm btn-default btn-delete-feed-sm" name="{{ reply.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                            {% endif %}
                                            <a class="btn btn-sm btn-default" href="{{ path('newMessageReport', {'id': reply.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">Se ha producido un error. Por favor, contacte con el administrador.</div>
    {% endif %}
{% endblock %}