{% extends 'userBase.html.twig' %}

{% block body %}
    <div id="searchCommunity" class="container">
        {% if status == 0 %}
            <div class="card panel-info">
                <div class="card-header bg-primary cWhite">
                    <h2 class="cWhite">Buscador de Comunidades</h2>
                    <p>¡Encuentra nuevas comunidades donde poder expresarte!</p>
                </div>

                <div class="card-body">
                    <div class="input-group searchBox">
                        <input type="text" id="search" placeholder="Busca una comunidad: " class="form-control"/>
                        <span class="input-group-btn">
                            <button id="buttonSearch" class="btn btn-md btn-primary mt1" type="button">Buscar</button>
                        </span>
                    </div>
                </div>
            </div>


        {% elseif status == 1 %}
            <div class="card">
                <div class="card-header bg-primary">
                    <h2 class="cWhite">Resultados de la búsqueda</h2>
                </div>
            </div>

            <div class="card ">
                <div class="card-header">
                    <h1><b>Número de Comunidades: {{ communities | length }}</b></h1>
                </div>
                <div class="card-body">
                    <ul>
                        {% for c in communities %}
                            <div class="card list">
                                <div class="card-body input-group text-left dflexblock">
                                    <div class="col-md-10">
                                        <h3><a href="{{ path('viewCommunity', { 'id': c.id }) }}">{{ c.name }}</a></h3>
                                        <h1>{{ c.description }}</h1>
                                    </div>
                                    <div class="col-md-2">
                                        {% set x = 0 %}

                                        {% for j in joined %}
                                            {% if j.id == c.id %}
                                                {% set x = 1 %}
                                            {% endif %}
                                        {% endfor %}

                                        <span><a href="{{ path('viewCommunity', { 'id': c.id }) }}" class="btn btn-primary"><span class="fa fa-arrow-right"> Visitar</span></a></span>
                                        {% if x == 0 %}
                                            <span><a href="#" class="btn btn-success"><span class="fa fa-plus"> Unirse</span></a></span>
                                        {% else %}
                                            <span><a href="#" class="btn btn-danger"><span class="fa fa-times"> Abandonar</span></a></span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-footer text-left">
                                    {% set members = 0 %}
                                    {% set msg = 0 %}

                                    {% for m in c.userCommunity if m.isActive == true and m.isDeleted == false %}
                                        {% set members = members + 1 %}
                                    {% endfor %}

                                    {% for m in c.message if m.isActive == true and m.isBlock == false and m.isDeleted == false %}
                                        {% set msg = msg + 1 %}
                                    {% endfor %}

                                    {% if c.privacy == 'public' or c.privacy == 'default' %}
                                        <small><span class="fa fa-unlock" title="Comunidad Pública"></span></small>
                                    {% elseif c.privacy == 'protected' %}
                                        <small><span class="fa fa-unlock-alt" title="Comunidad Protegida"></span></small>
                                    {% elseif c.privacy == 'private' %}
                                        <small><span class="fa fa-lock" title="Comunidad Privada"></span></small>
                                    {% endif %}

                                    <small>Miembros: {{ members }}</small>
                                    <small> | </small>
                                    <small>Mensajes: {{ msg }}</small>
                                    <small> | </small>
                                    <small>Creación: {{ c.creationDate | date('d-m-Y') }}</small>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">No se ha encontrado ninguna comunidad relacionada con tu búsqueda.</div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{{ path('searchCommunity') }}" class="btn btn-link">Nueva Búsqueda</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}