{% extends 'adminBase.html.twig' %}

{% block adminBody %}
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="{{ path('index') }}" title="Inicio" class="tip-bottom"><i class="icon-home"></i> Panel de Administración</a>
            /
            <a href="{{ path('adminPanelIndex') }}" title="Lista de Usuarios" class="tip-bottom"><i class="icon-user"></i> Lista de Usuarios</a></div>
    </div>
    <!--End-breadcrumbs-->
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5>Lista de Usuarios</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Email</th>
                                    <th>Fecha de Registro</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in users %}
                                    <tr>
                                        <td>{{ u.id }}</td>
                                        <td>{{ u.username }}</td>
                                        <td>{{ u.email }}</td>
                                        <td>{{ u.signUpDate | date('d-m-Y H:i') }}</td>
                                        <td>
                                            <a href="#" title="Ver Perfil"><i class="icon-eye-open"></i></a>
                                            <a href="#" title="Suspender"><i class="icon-ban-circle"></i></a>
                                            <a href="#" title="Bloquear"><i class="icon-lock"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/admin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/matrix.tables.js') }}"></script>
{% endblock %}