{% extends 'userBase.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card info">
            <div class="card-header bg-primary">
                <b class="cWhite"><span class="fa fa-envelope-o"></span> Enviados ({{ pmList | length }})</b>
            </div>

            <div class="card-body">
                <div class="card">
                    <div class="card-header bg-white">
                        <div class="col-md-12">
                            <a class="btn btn-md btn-dark" href="{{ path('newPM') }}"><span class="fa fa-plus"></span> Nuevo Privado</a>
                            <a class="btn btn-md btn-dark" href="{{ path('inbox') }}"><span class="fa fa-envelope-open"></span> Recibidos</a>
                        </div>
                    </div>

                    <div class="card-body">
                        {% if pmList | length > 0 %}
                            <table class="table table-bordered table-striped table-hover table-sm table-responsive">
                                <thead class="bg-dark cWhite">
                                    <tr>
                                        <th scope="row"></th>
                                        <th class="text-center">Asunto: </th>
                                        <th class="text-center">Destinatario: </th>
                                        <th class="text-center">Fecha: </th>
                                        <th class="text-center">Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for pm in pmList %}
                                    <tr>
                                        <td scope="row">
                                            <span class="fa fa-envelope-open-o" title="Leído"></span>
                                        </td>
                                        <td><a href="{{ path('readPrivate', {'id': pm.id }) }}">{{ pm.subject }}</a></td>
                                        <td><a href="{{ path('viewUserProfile', {'id': pm.recipient.id }) }}">{{ pm.recipient.username }}</a></td>
                                        <td>{{ pm.date | date('d-m-Y h:m') }}</td>
                                        <td>
                                            <a href="{{ path('deletePM', {'id': pm.id }) }}"><span class="fa fa-trash" title="Eliminar"></span></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div>No tienes mensajes privados en tu bandeja de entrada.</div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}