{% extends 'userBase.html.twig' %}

{% block body %}
    <div id="community" class="container">
        {% if access == 'default' %}
            <div class="card">
                <div class="card-header bg-primary">
                    <header>
                        <h2 class="cWhite">{{ community.name }}</h2>
                        <hr/>
                    </header>
                    <h1 class="cWhite">{{ community.description }}</h1>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        {{ form_start(msg) }}
                        <div id="newMessage" class="col-md-12 input-group">
                            <span class="input-group-addon"><span class="numberCount">256</span></span>
                            {{ form_widget(msg.message) }}
                            <span class="input-group-btn">{{ form_widget(msg.Enviar) }}</span>
                        </div>
                        {{ form_end(msg) }}
                    </div>

                    <div class="col-md-12">
                        {% for msg in messages %}
                            <div class="card messages mb-lg-5">
                                <div class="card-header small bg-gray">
                                    <small>{{ msg.user.username }} - {{ msg.date | date('d-m-Y H:i') }}</small>
                                </div>
                                <div class="card-body text-left flex">
                                    <div class="messageImage">
                                        <div class="image avatar95">
                                            <a href="{{ path('viewUserProfile', {'id': msg.user.id }) }}" title="Perfil de {{ msg.user.username }}">
                                                {% if msg.user.image %}
                                                    <img src="{{ asset('uploads/profileImages/' ~ msg.user.image) }}" alt="Imagen de {{ msg.user.username }}"/>
                                                {% else %}
                                                    <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ msg.user.username }}"/>
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 message">
                                        {{ msg.message | striptags('<b>') | raw }}
                                    </div>
                                </div>
                                <div class="card-footer dflexblock rCenter">
                                    <div class="col-md-1 msgAnswers text-left">
                                        <button class="btn btn-sm btn-dark">
                                            {% set cont = 0 %}

                                            {% for r in msg.messageReply %}
                                                {% if r.isdeleted == false %}
                                                    {% set cont = cont + 1 %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if cont == 1%}
                                                <span>{{ cont }} respuesta</span>
                                            {% else %}
                                                <span>{{ cont }} respuestas</span>
                                            {% endif %}
                                        </button>
                                    </div>

                                    <div class="col-md-11 msgButtons text-right">
                                        <a class="btn btn-sm btn-default btn-details" href="{{ path('messageDetailsGeneral', { 'id': msg.id }) }}"><span class="fa fa-eye"></span> Detalles</a>
                                        <a class="btn btn-sm btn-default btn-reply" href="{{ path('messageDetailsGeneral', { 'id': msg.id }) }}"><span class="fa fa-reply"></span> Responder</a>
                                        {% if msg.user.id == user.id %}
                                            <a class="btn btn-sm btn-default btn-delete" name="{{ msg.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                        {% endif %}
                                        <a class="btn btn-sm btn-default btn-report"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                        <a class="btn btn-sm btn-default btn-options">Opciones <span class="caret"></span></a>
                                        <div class="btn-options-sm col-md-10">
                                            <a class="btn btn-sm btn-default" href="{{ path('messageDetailsGeneral', { 'id': msg.id }) }}"><span class="fa fa-reply"></span> Responder</a>
                                            {% if msg.user.id == user.id %}
                                                <a class="btn btn-sm btn-default btn-delete-sm" name="{{ msg.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                            {% endif %}
                                            <a class="btn btn-sm btn-default"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                        </div>
                                    </div>
                                </div>

                                {% if msg.messageReply | length > 0 %}
                                    <div class="card-body replies">
                                        {% for reply in msg.messageReply | reverse | slice(0, 6) if reply.isdeleted == false %}
                                            <div class="card mb-lg-3">
                                                <div class="card-body text-left flex">
                                                    <div class="messageImage">
                                                        <div class="image avatar48">
                                                            <a href="{{ path('viewUserProfile', {'id': reply.user.id }) }}" title="Perfil de {{ reply.user.username }}">
                                                                {% if reply.user.image %}
                                                                    <img src="{{ asset('uploads/profileImages/' ~ reply.user.image) }}" alt="Imagen de {{ reply.user.username }}"/>
                                                                {% else %}
                                                                    <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ reply.user.username }}"/>
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 message">
                                                        {{ reply.message | striptags('<b>') | raw }}
                                                    </div>
                                                </div>
                                                <div class="card-footer dflexblock bg-gray small">
                                                    <div class="replyInfo small">
                                                        <span>{{ reply.user.username }} - {{ reply.date | date('d-m-Y H:i') }}</span>
                                                    </div>
                                                    <div class="replyButtons">
                                                        {% if reply.user.id == user.id %}
                                                            <a class="btn btn-sm btn-default" href="#"><span class="fa fa-edit"></span> Editar</a>
                                                        {% endif %}
                                                        {% if reply.user.id == user.id %}
                                                            <a class="btn btn-sm btn-default btn-delete-sm" name="{{ reply.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                                        {% endif %}
                                                        <a class="btn btn-sm btn-default" href="#"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        {% if msg.messageReply | length > 6 %}
                                            <a href="{{ path('messageDetailsGeneral', { 'id': msg.id }) }}" class="btn btn-lg btn-default">Ver más</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% elseif access == 'notFound' %}
            <div class="alert alert-danger" role="alert">Esta comunidad no existe.</div>
        {% elseif access == 'blocked' %}
            <div class="alert alert-danger" role="alert">Esta comunidad está bloqueada temporalmente debido a acumulación de reportes.</div>
        {% elseif access == 'suspended' %}
            <div class="alert alert-danger" role="alert">Esta comunidad ha sido suspendida.</div>
        {% elseif access == 'deleted' %}
            <div class="alert alert-danger" role="alert">Esta comunidad ha sido eliminada por su administrador.</div>
        {% elseif access == 'active' %}
            <div class="card ">
                <div class="card-header bg-primary">
                    <header>
                        <h2 class="cWhite">{{ community.name }}</h2>
                        <hr/>
                    </header>
                    <h1 class="cWhite">{{ community.description }}</h1>
                </div>

                {% if userAccess %}
                    <div class="card-body">
                        {% if status == 'protectedAllow' or status == 'full' %}
                            <div class="col-md-12">
                                {{ form_start(msg) }}
                                <div id="newMessage" class="col-md-12 input-group">
                                    <span class="input-group-addon"><span class="numberCount">256</span></span>
                                    {{ form_widget(msg.message) }}
                                    <span class="input-group-btn">{{ form_widget(msg.Enviar) }}</span>
                                </div>
                                {{ form_end(msg) }}
                            </div>
                        {% endif %}

                        <div class="col-md-12">
                            {% for msg in messages %}
                                <div class="card messages">
                                    <div class="card-header small bg-gray">
                                        <small>{{ msg.user.username }} - {{ msg.date | date('d-m-Y H:i') }}</small>
                                    </div>
                                    <div class="card-body text-left flex">
                                        <div class="messageImage">
                                            <div class="image avatar95">
                                                <a href="{{ path('viewUserProfile', {'id': msg.user.id }) }}" title="Perfil de {{ msg.user.username }}">
                                                    {% if msg.user.image %}
                                                        <img src="{{ asset('uploads/profileImages/' ~ msg.user.image) }}" alt="Imagen de {{ msg.user.username }}"/>
                                                    {% else %}
                                                        <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ msg.user.username }}"/>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-12 message">
                                            {{ msg.message | striptags('<b>') | raw }}
                                        </div>
                                    </div>
                                    <div class="card-footer dflexblock rCenter">
                                        <div class="col-md-1 msgAnswers text-left">
                                            <button class="btn btn-sm btn-dark">
                                                {% set cont = 0 %}

                                                {% for r in msg.messageReply %}
                                                    {% if r.isdeleted == false %}
                                                        {% set cont = cont + 1 %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if cont == 1%}
                                                    <span>{{ cont }} respuesta</span>
                                                {% else %}
                                                    <span>{{ cont }} respuestas</span>
                                                {% endif %}
                                            </button>
                                        </div>

                                        <div class="col-md-11 msgButtons text-right">
                                            <a class="btn btn-sm btn-default btn-details" href="{{ path('messageDetails', { 'id': msg.id }) }}"><span class="fa fa-eye"></span> Detalles</a>
                                            {% if status == 'protectedAllow' or status == 'full' %}
                                                <a class="btn btn-sm btn-default btn-reply" href="{{ path('messageDetails', { 'id': msg.id }) }}"><span class="fa fa-reply"></span> Responder</a>
                                            {% endif %}
                                            {% if msg.user.id == user.id %}
                                                <a class="btn btn-sm btn-default btn-delete" name="{{ msg.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                            {% endif %}
                                            <a class="btn btn-sm btn-default btn-report"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                            <a class="btn btn-sm btn-default btn-options">Opciones <span class="caret"></span></a>
                                            <div class="btn-options-sm col-md-10">
                                                {% if status == 'protectedAllow' or status == 'full' %}
                                                    <a class="btn btn-sm btn-default" href="{{ path('messageDetails', { 'id': msg.id }) }}"><span class="fa fa-reply"></span> Responder</a>
                                                {% endif %}
                                                {% if msg.user.id == user.id %}
                                                    <a class="btn btn-sm btn-default btn-delete-sm" name="{{ msg.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                                {% endif %}
                                                <a class="btn btn-sm btn-default"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                            </div>
                                        </div>
                                    </div>

                                    {% if msg.messageReply | length > 0 %}
                                        <div class="card-body replies">
                                            {% for reply in msg.messageReply | reverse | slice(0, 6) if reply.isdeleted == false %}
                                                <div class="card mb-lg-3">
                                                    <div class="card-body text-left flex">
                                                        <div class="messageImage">
                                                            <div class="image avatar48">
                                                                <a href="{{ path('viewUserProfile', {'id': reply.user.id }) }}" title="Perfil de {{ reply.user.username }}">
                                                                    {% if reply.user.image %}
                                                                        <img src="{{ asset('uploads/profileImages/' ~ reply.user.image) }}" alt="Imagen de {{ reply.user.username }}"/>
                                                                    {% else %}
                                                                        <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ reply.user.username }}"/>
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 message">
                                                            {{ reply.message | striptags('<b>') | raw }}
                                                        </div>
                                                    </div>
                                                    <div class="card-footer dflexblock small bg-gray">
                                                        <div class="replyInfo small">
                                                            <span>{{ reply.user.username }} - {{ reply.date | date('d-m-Y H:i') }}</span>
                                                        </div>
                                                        <div class="replyButtons">
                                                            {% if status == 'protectedAllow' or status == 'full' %}
                                                                {% if reply.user.id == user.id %}
                                                                    <a class="btn btn-sm btn-default"><span class="fa fa-edit"></span> Editar</a>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if reply.user.id == user.id %}
                                                                <a class="btn btn-sm btn-default btn-delete-sm" name="{{ reply.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                                            {% endif %}
                                                            <a class="btn btn-sm btn-default"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            {% if msg.messageReply | length > 6 %}
                                                <a href="{{ path('messageDetails', { 'id': msg.id }) }}" class="btn btn-lg btn-default">Ver más</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% else %}
                    {% if status == 'userRelationNotFound' %}
                        <div class="alert alert-danger" role="alert">No tienes permisos para ver el contenido de esta sala.</div>
                    {% elseif status == 'notAccepted' %}
                        <div class="alert alert-warning" role="alert">La solicitud está pendiente.</div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}