{% extends 'userBase.html.twig' %}

{% block body %}
    <div id="message" class="container">
        {% if access == 'default' %}
            <div class="panel panel-primary messages">
                <div class="panel-heading">
                    {{ message.user.username }} - {{ message.date | date('d-m-Y H:i') }}
                </div>

                <div class="panel-body text-left flex">
                    <div class="messageImage">
                        <div class="image avatar95">
                            {% if message.user.image %}
                                <img src="{{ asset('uploads/profileImages/' ~ message.user.image) }}" alt="Imagen de {{ message.user.username }}"/>
                            {% else %}
                                <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ message.user.username }}"/>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-12 message">
                        {{ message.message }}
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="backToCommunity">
                        {% if isGeneral %}
                        <a href="{{ path('generalCommunity') }}" class="btn btn-sm btn-default"><span class="fa fa-arrow-left"></span> General</a>
                        {% else %}
                        <a href="#" class="btn btn-sm btn-default"><span class="fa fa-arrow-left"></span> Volver</a>
                        {% endif %}
                    </div>

                    <div class="msgButtons">
                        <button class="btn btn-sm btn-default btn-replyMSG"><span class="fa fa-reply"></span> Responder</button>
                        {% if message.user.id == user.id %}
                            <a class="btn btn-sm btn-default btn-edit"><span class="fa fa-edit"></span> Editar</a>
                        {% endif %}
                        {% if message.user.id == user.id %}
                            <a class="btn btn-sm btn-default btn-delete"><span class="fa fa-trash"></span> Borrar</a>
                        {% endif %}
                        <a class="btn btn-sm btn-default btn-report"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                        <a class="btn btn-sm btn-default btn-options">Opciones <span class="caret"></span></a>
                        <div class="btn-options-sm col-md-10">
                            {% if message.user.id == user.id %}
                                <a class="btn btn-sm btn-default"><span class="fa fa-edit"></span> Editar</a>
                            {% endif %}
                            {% if message.user.id == user.id %}
                                <a class="btn btn-sm btn-default"><span class="fa fa-trash"></span> Borrar</a>
                            {% endif %}
                            <a class="btn btn-sm btn-default"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary newReply">
                <div class="panel-heading">
                    ¡Escribe tu respuesta!
                </div>

                <div class="panel-body ">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        <div id="newMessage" class="col-md-12 input-group">
                            <span class="input-group-addon"><span class="numberCount">256</span></span>
                            {{ form_widget(form.message) }}
                            <span class="input-group-btn">{{ form_widget(form.Enviar) }}</span>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 replies">
                {% if message.messageReply | length > 0 %}
                    {% for reply in message.messageReply | reverse %}
                        <div class="panel panel-default">
                            <div class="panel-heading small">
                                <small>{{ reply.user.username }} - {{ reply.date | date('d-m-Y H:i') }}</small>
                            </div>
                            <div class="panel-body text-left flex">
                                <div class="messageImage">
                                    <div class="image avatar48">
                                        {% if reply.user.image %}
                                            <img src="{{ asset('uploads/profileImages/' ~ reply.user.image) }}" alt="Imagen de {{ reply.user.username }}"/>
                                        {% else %}
                                            <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ reply.user.username }}"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12 message">
                                    {{ reply.message }}
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="replyButtons">
                                    {% if reply.user.id == user.id %}
                                        <button class="btn btn-sm btn-default"><span class="fa fa-edit"></span> Editar</button>
                                    {% endif %}
                                    <button class="btn btn-sm btn-default"><span class="fa fa-exclamation-triangle"></span> Reportar</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}

        {% endif %}
    </div>
{% endblock %}