{% extends 'userBase.html.twig' %}

{% block title %}{{ message.message | slice(0, 50) }}{% if message.message | length > 50 %}...{% endif %}{% endblock %}

{% block body %}
    <div id="message" class="container">
        {% if access == 'default'%}
            <div class="card messages">
                <div class="card-header bg-dark cWhite">
                    <div class="col-md-12 dflexblock">
                        <div class="col-md-6 dflexblock">
                            <small>{{ message.user.username }}</small>
                        </div>
                        <div class="col-md-6 dflexblock">
                            <small class="m-left">{{ message.date | date('d-m-Y H:i') }}</small>
                        </div>
                    </div>
                </div>

                <div class="messageInfo">
                    <div class="card-body text-left dflexblock">
                        <div class="col-md-2 messageImage dflexblock">
                            <div class="image avatar95">
                                <a href="{{ path('viewUserProfile', {'id': message.user.id }) }}" title="Perfil de {{ message.user.username }}">
                                    {% if message.user.image %}
                                        <img src="{{ asset('uploads/profileImages/' ~ message.user.image) }}" alt="Imagen de {{ message.user.username }}"/>
                                    {% else %}
                                        <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ message.user.username }}"/>
                                    {% endif %}
                                </a>
                            </div>
                        </div>

                        <div class="col-md-10 message dflexblock">
                            <p>{{ message.message | striptags('<b>') | raw }}</p>
                        </div>
                    </div>
                </div>

                <div class="card-footer p-0">
                    <div class="dflexblock">
                        <div class="backToCommunity col-md-1 text-left">
                            {% if isGeneral %}
                                <a href="{{ path('generalCommunity') }}" class="btn btn-sm btn-default"><span class="fa fa-arrow-left"></span> General</a>
                            {% else %}
                                <a href="#" class="btn btn-sm btn-default"><span class="fa fa-arrow-left"></span> Volver</a>
                            {% endif %}
                        </div>

                        <div class="msgButtons col-md-11 text-right fwa">
                            {% if message.isReply == false %}
                                <a class="btn btn-sm btn-default btn-replyMSG"><span class="fa fa-reply"></span> Responder</a>
                            {% endif %}
                            {% if message.user.id == user.id %}
                                <a class="btn btn-sm btn-default btn-delete btn-delete-inMessage" name="{{ message.id }}"><span class="fa fa-trash"></span> Borrar</a>
                            {% endif %}
                            <a class="btn btn-sm btn-default btn-report" href="{{ path('newMessageReport', {'id': message.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                            <a class="btn btn-sm btn-default btn-options">Opciones <span class="caret"></span></a>
                            <div class="btn-options-sm col-md-10">
                                {% if message.user.id == user.id %}
                                    <a class="btn btn-sm btn-default btn-delete-inMessage-sm" name="{{ message.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                {% endif %}
                                <a class="btn btn-sm btn-default" href="{{ path('newMessageReport', {'id': message.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if message.isReply == false %}
                <div class="card mt-5 newReply">
                    <div class="card-header bg-dark cWhite">
                        ¡Escribe tu respuesta!
                    </div>

                    <div class="card-body ">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            <div id="newMessage" class="col-md-12 input-group">
                                <span class="input-group-addon"><span class="numberCount">256</span></span>
                                {{ form_widget(form.message) }}
                                <span class="input-group-btn">{{ form_widget(form.Enviar) }}</span>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-10 replies mt-lg-5">
                    {% if message.messageReply | length > 0 %}
                        {% for reply in message.messageReply | reverse if reply.isdeleted == false %}
                            <div class="card mt-5">
                                <div class="card-header small bg-dark p-0">
                                    <div class="col-md-12 dflexblock">
                                        <div class="col-md-6 dflexblock">
                                            <small class="cWhite">{{ reply.user.username }}</small>
                                        </div>
                                        <div class="col-md-6 dflexblock">
                                            <small class="cWhite m-left">{{ reply.date | date('d-m-Y H:i') }}</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="messageInfo">
                                    <div class="card-body text-left dflexblock">
                                        <div class="col-md-1 messageImage dflexblock">
                                            <div class="image avatar48">
                                                <a href="{{ path('viewUserProfile', {'id': reply.user.id }) }}" title="Perfil de {{ reply.user.username }}">
                                                    {% if reply.user.image %}
                                                        <img src="{{ asset('uploads/profileImages/' ~ reply.user.image) }}" alt="Imagen de {{ reply.user.username }}"/>
                                                    {% else %}
                                                        <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ reply.user.username }}"/>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-11 message dflexblock">
                                            <p>{{ reply.message | striptags('<b>') | raw }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer p-0">
                                    <div class="replyButtons">
                                        {% if reply.user.id == user.id %}
                                            <a class="btn btn-sm btn-default btn-delete-inMessage-sm" name="{{ reply.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                        {% endif %}
                                        <a class="btn btn-sm btn-default" href="{{ path('newMessageReport', {'id': reply.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% elseif access == 'deleted' %}
            <div class="alert alert-danger" role="alert">Este mensaje ha sido eliminado.</div>
        {% elseif access == 'notFound' %}
            <div class="alert alert-danger" role="alert">Este mensaje no existe.</div>
        {% elseif access == 'block' %}
            <div class="alert alert-danger" role="alert">Este mensaje ha sido bloqueado temporalmente por acumulación de reportes.</div>
        {% elseif access == 'inactive' %}
            <div class="alert alert-danger" role="alert">Este mensaje ha sido eliminado por acumulación de reportes.</div>
        {% elseif access == 'active' %}
            {% if status == 'userRelationNotFound' or status == 'notAccepted' %}
                <div class="alert alert-danger" role="alert">No tienes permisos para ver este mensaje.</div>
            {% elseif status == 'full' %}
                <div class="card messages">
                    <div class="card-header bg-dark cWhite">
                        <div class="col-md-12 dflexblock">
                            <div class="col-md-6 dflexblock">
                                <span>{{ message.user.username }}</span>
                            </div>
                            <div class="col-md-6 dflexblock">
                                <span class="m-left">{{ message.date | date('d-m-Y H:i') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="messageInfo">
                        <div class="card-body text-left dflexblock">
                            <div class="col-md-2 messageImage dflexblock">
                                <div class="image avatar95">
                                    <a href="{{ path('viewUserProfile', {'id': message.user.id }) }}" title="Perfil de {{ message.user.username }}">
                                        {% if message.user.image %}
                                            <img src="{{ asset('uploads/profileImages/' ~ message.user.image) }}" alt="Imagen de {{ message.user.username }}"/>
                                        {% else %}
                                            <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ message.user.username }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-10 message dflexblock">
                                <p>{{ message.message | striptags('<b>') | raw }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer dflexblock p-0">
                        <div class="backToCommunity text-left">
                            {% if isGeneral %}
                                <a href="{{ path('generalCommunity') }}" class="btn btn-sm btn-default"><span class="fa fa-arrow-left"></span> General</a>
                            {% else %}
                                <a href="{{ path('viewCommunity', {'id': message.community.id }) }}" class="btn btn-sm btn-default"><span class="fa fa-arrow-left"></span> Volver</a>
                            {% endif %}
                        </div>

                        <div class="msgButtons text-right fwa">
                            {% if status == 'protectedAllow' or status == 'full' %}
                                {% if message.isReply == false %}
                                    <a class="btn btn-sm btn-default btn-replyMSG"><span class="fa fa-reply"></span> Responder</a>
                                {% endif %}
                            {% endif %}
                            {% if message.user.id == user.id %}
                                <a class="btn btn-sm btn-default btn-delete btn-delete-inMessage" name="{{ message.id }}"><span class="fa fa-trash"></span> Borrar</a>
                            {% endif %}
                            <a class="btn btn-sm btn-default btn-report" href="{{ path('newMessageReport', {'id': message.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                            <a class="btn btn-sm btn-default btn-options">Opciones <span class="caret"></span></a>
                            <div class="btn-options-sm col-md-10">
                                {% if message.user.id == user.id %}
                                    <a class="btn btn-sm btn-default btn-delete-inMessage-sm" name="{{ message.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                {% endif %}
                                <a class="btn btn-sm btn-default" href="{{ path('newMessageReport', {'id': message.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if message.isReply == false %}
                    {% if status == 'protectedAllow' or status == 'full' %}
                        <div class="card newReply mt-5">
                            <div class="card-header bg-dark cWhite">
                                ¡Escribe tu respuesta!
                            </div>

                            <div class="card-body ">
                                <div class="col-md-12">
                                    {{ form_start(form) }}
                                    <div id="newMessage" class="col-md-12 input-group">
                                        <span class="input-group-addon"><span class="numberCount">256</span></span>
                                        {{ form_widget(form.message) }}
                                        <span class="input-group-btn">{{ form_widget(form.Enviar) }}</span>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-md-10 replies">
                        {% if message.messageReply | length > 0 %}
                            {% for reply in message.messageReply | reverse if reply.isdeleted == false %}
                                <div class="card mt-5">
                                    <div class="card-header small bg-dark p-0">
                                        <div class="col-md-12 dflexblock">
                                            <div class="col-md-6 dflexblock">
                                                <small class="cWhite">{{ reply.user.username }}</small>
                                            </div>
                                            <div class="col-md-6 dflexblock">
                                                <small class="cWhite m-left">{{ reply.date | date('d-m-Y H:i') }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="messageInfo">
                                        <div class="card-body text-left dflexblock">
                                            <div class="col-md-1 messageImage dflexblock">
                                                <div class="image avatar48">
                                                    <a href="{{ path('viewUserProfile', {'id': reply.user.id }) }}" title="Perfil de {{ reply.user.username }}">
                                                        {% if reply.user.image %}
                                                            <img src="{{ asset('uploads/profileImages/' ~ reply.user.image) }}" alt="Imagen de {{ reply.user.username }}"/>
                                                        {% else %}
                                                            <img src="{{ asset('images/no-image.jpg') }}" alt="Imagen de {{ reply.user.username }}"/>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-11 message dflexblock">
                                                <p>{{ reply.message | striptags('<b>') | raw }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer p-0">
                                        <div class="replyButtons">
                                            {% if reply.user.id == user.id %}
                                                <a class="btn btn-sm btn-default btn-delete-inMessage-sm" name="{{ reply.id }}"><span class="fa fa-trash"></span> Borrar</a>
                                            {% endif %}

                                            <a class="btn btn-sm btn-default" href="{{ path('newMessageReport', {'id': reply.id }) }}"><span class="fa fa-exclamation-triangle"></span> Reportar</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}