{% extends 'userBase.html.twig' %}

{% block body %}
    <div id="community" class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <header>
                    <h3 class="cWhite">Reporte #{{ report.id }}</h3>
                </header>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="col-md-12 dflexblock">
                        <div class="col-md-3 text-center fa-border bg-gray">
                            <b><span class="fa fa-user"></span> Reportado por:</b>
                        </div>
                        <div class="col-md-9 text-left fa-border">
                            <a href="{{ path('viewUserProfile', {'id': report.informer.id }) }}">{{ report.informer.username }}</a>
                        </div>
                    </div>

                    <div class="col-md-12 dflexblock">
                        <div class="col-md-3 text-center fa-border bg-gray">
                            <b><span class="fa fa-calendar"></span> Fecha:</b>
                        </div>
                        <div class="col-md-9 text-left fa-border">
                            <label>{{ report.date | date('d-m-Y') }} a las {{ report.date | date('H:i') }}</label>
                        </div>
                    </div>

                    <div class="col-md-12 dflexblock">
                        <div class="col-md-3 text-center fa-border bg-gray">
                            <b><span class="fa fa-group"></span> Comunidad: </b>
                        </div>
                        <div class="col-md-9 text-left fa-border">
                            <a href="{{ path('viewCommunity', {'id': report.messageReported.community.id }) }}">{{ report.messageReported.community.name }}</a>
                        </div>
                    </div>

                    <div class="col-md-12 dflexblock">
                        <div class="col-md-3 text-center fa-border bg-gray">
                            <b><span class="fa fa-envelope"></span> Mensaje:</b>
                        </div>
                        <div class="col-md-9 text-left fa-border">
                            <a href="{{ path('messageDetails', {'id': report.messageReported.id }) }}">{{ report.messageReported.message | slice(0, 50) }} (...)</a>
                        </div>
                    </div>

                    <div class="col-md-12 dflexblock">
                        <div class="col-md-3 text-center fa-border bg-gray">
                            <b><span class="fa fa-warning"></span> Motivo de Reporte:</b>
                        </div>
                        <div class="col-md-9 text-left fa-border">
                            <p>{{ report.description }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 m-auto dflexblock">
                    {% if report.isClosed %}
                        <div class="col-md-12 mt-lg-5">
                            <div class="alert alert-success" role="alert"><span class="fa fa-check"> Este reporte ya está cerrado.</span></div>
                        </div>
                    {% else %}
                        <div class="col-md-4 mt-lg-5">
                            {% if report.messageReported.isDeleted %}
                                <label>Mensaje Eliminado</label>
                            {% else %}
                                <a href="#" class="btn btn-lg btn-danger dflexblock btn-delete-report" name="{{ report.messageReported.id }}"><span class="fa fa-trash"> Borrar Mensaje</span></a>
                            {% endif %}
                        </div>
                        <div class="col-md-4 mt-lg-5">
                            <a href="#" class="btn btn-lg btn-warning dflexblock"><span class="fa fa-warning"> Reportar a tecleaME</span></a>
                        </div>
                        <div class="col-md-4 mt-lg-5">
                            <a href="{{ path('closeReport', {'id': report.id }) }}" class="btn btn-lg btn-dark dflexblock"><span class="fa fa-times"> Cerrar Reporte</span></a>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-6 m-auto">
                    <hr/>
                </div>

                <a href="{{ path('reportList') }}" class="btn btn-dark"><span class="fa fa-arrow-left"></span> Volver</a>
            </div>
        </div>
    </div>
{% endblock %}